@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative');

* {
  font-family: 'Georgia', serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

body {
  background-image: url(planisfero-di-cantino.webp);
}

.carousel-item {
  max-height: 500px ;
}

.carousel-caption {
background-color: rgba(0, 0, 0, 0.48); 
left: 0;
right: 0;
width: 100%;
}

.small-card {
  margin-top: 20px;
  transition: transform 500ms ease;
}

.small-card:hover {
  transform: scale(1.02, 1.02);
}

.image-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a.main-link {
  color: white;  
  text-align: center;
}

a:hover {
  text-decoration: none;
}

#esplora-il-catalogo, #esplora-la-collezione {
  border-style: none;
  border-bottom: 1px solid rgba(32, 156, 15, 1);
  padding: 15px 15px 5px 15px;
}

#testo-integrale {
  border-style: none;
  border-top: 1px solid rgba(32, 156, 15, 1);
  padding: 15px 15px 5px 15px;
}

#autore {
  border-style: none;
  border-right: 1px solid rgba(32, 156, 15, 1); 
  padding: 15px 15px 5px 15px;
}

#opera {
  border-style: none;
  border-left: 1px solid rgba(32, 156, 15, 1); 
  padding: 15px 15px 5px 15px;
}

.index-paragrafo-link {
  text-align: center;
  padding-top: 25px;
}

.index-row-contents {
  margin-bottom: 40px;
}

.titolo-catalogo {
  color: white;
  text-align: center;
  border-bottom: 1px solid rgba(32, 156, 15, 1); 
  border-top: 1px solid rgba(32, 156, 15, 1); 
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  margin-bottom: 40px; 
}

#ordina-la-lista, #filtra-la-lista, .download-metadata {
  color: white;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.titolo-filtri {
 border-bottom: 1px solid rgba(32, 156, 15, 1); 
 padding-bottom: 5px;
}

.btn-block {
  margin-bottom: -5px;
}

.btn-group {
  margin-top: 3px;
  width: 100%; 
}

.pagina-catalogo {
  padding-top: 20px;
}

.card-catalogo {
  height: 790px;
}

.img-card-catalogo {
  height: 400px;
  object-fit: cover;
}

.btn-metadata {
  text-align: center;  
  width: 90%;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.card-title {
  padding-bottom: 11px;
  border-bottom: 2px solid rgba(32, 156, 15, 1);
  text-align: center;
}

a.link-metadata:hover {
  color: rgba(0, 74, 10, 1);
}

#img-2 {
  object-position: 80% 50%;
}

#img-3 {
  object-position: 50% 50%;
}

#img-4 {
  object-position: 10% 50%;
}

#img-5 {
  object-position: 100% 0%;
}

.pagination {
  padding-top: 25px;
}

.img-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
  text-align: center;
}

.full-card {
  margin-top: 20px;
  padding: 20px;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  max-width: 100%;
}

.link-autore {
  margin-left: 30px;
}

#descrizione-item {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: justify;
}

.canto-item, .continua-la-lettura {
  padding-top: 20px;
  padding-left: 10px;
}

.share {
  text-align: center;
}

.download-metadata {
  color: white;
}

.dc-link, .tei-link {
  color: white;
}

.dc-link:hover, .tei-link:hover {
  color: white;
}

.titolo-opera, .titolo-autore {
  border-bottom: 1px solid rgba(32, 156, 15, 1); 
  padding-bottom: 10px;
}

.item-suggerito {
  padding: 15px 5px 15px 5px;
  margin-top: 15px;
}

.card-approfondimento {
  margin-top: 40px;
}

.title-approfondimento {
  border-bottom: 1px solid rgba(32, 156, 15, 1); 
  padding-bottom: 10px;
  margin-bottom: -10px;
}

footer {
  font-family: Arial, sans-serif;
  color: white; 
}

.footer-1 {
  padding-top: 60px;
}

.footer-2 {
  padding: 30px 20px 20px 60px;
}



